#payment{
    padding: 30px 0px;
    background: linear-gradient(#9e4efc, #570dc8);
}
.cllient_part_1 h3{
     color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-shadow: 5px 5px 2px #000000;
}
.cllient_part_2 h3{
     color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    text-shadow: 5px 5px 2px #000000;
    padding-bottom: 20px;
}
.f_form{
    background: transparent;
    border: 1px solid #3a0090;
    margin-top: 20px;
    position: relative;
}


.f_form input {
    color: #3a0090;
    padding: 5px 10px;
    background: transparent;
    display: inline-block;
    border: none;
    font-size: 14px;
   font-weight: 400;
   font-family: 'Nunito', sans-serif;
   margin-left: 5px;
  }
  
  .f_form a i {
    background: transparent;
    padding: 8px 10px;
    color: #212022;
    background: transparent;
    position: absolute;
    right: 0;
    border-left: 1px solid #3a0090;
    background: transparent;
  }


